.fact-item {
  background: linear-gradient(to right, rgb(105, 119, 224), #12058a);
  text-align: center;
  border-radius: 5px;
  color: white;
}
.count {
  color: white;
  margin: 20px;
  font-size: 40px;
  margin-top: 30px;
}
.details {
  padding: 30px;
}
.count {
  color: #ffffff;
  font-weight: 900;
  font-size: ;
}
.details p {
  color: var(--secondary-color);
}
