.navigation {

}
.sticky-top {
  background: linear-gradient(to right, #12058a, rgb(105, 119, 224));
  color: white;
}
.dropdown-toggle::after {
  display: none !important;
}
.buttons {
  background-color: #f04f26;
  padding: 10px 20px;
  border-radius: 5px 15px 5px 15px;
  border: none;
  color: white;
  transition: 0.3s ease-in-out;
}

.buttons:hover {
  background-color: #051b7a;
  transition: 0.3s ease-in-out;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: 600;
  font-size: 14px;
  margin: 10px 3px 0px 3px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #eaeaea;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  border: none !important;
}
