.AboutHome {
  font-family: "Rajdhani", sans-serif;
  margin: 50px 0px;
}

.about-title {
  color: #f04f26;
}
#about-heading {
  font-weight: 900;
  line-height: 50px;
  font-size: 35px;
  text-transform: uppercase;
  text-align: justify;
  letter-spacing: 0.6px;
}

.common-heading-style {
  font-family: "Rajdhani", sans-serif;
  font-weight: 900;
  font-size: 23px;
}

.common-style-paragraph {
  color: rgb(56, 55, 55);
  margin: 10px 0px;
  font-size: 18px;
  font-family: "Rajdhani", sans-serif;
}

.highlight {
  color: #1e0bf1;
  margin-right: 15px;
}
/* .image-circle {
  width: 50%;
  height: 50%;
  border-radius: 25%;
  border-top: 2px dashed #f33101;
  border-right: 2px dashed #f04f26;
  border-left: 2px dashed #051b7a;
  border-bottom: 2px dashed #051b7a;
  padding: 10px;
  animation: spin 12s infinite linear;
}
.image-circle img {
  animation: spin 6s infinite reverse linear;
  border-radius: 50px;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
} */
.image-circle img {
}
.image-circle {
  border: 5px solid rgb(250, 219, 219);
  border-radius: 10px;
}
